body {
  color: #01523e;
  background-image: linear-gradient(to bottom right, rgba(072, 288, 139, 255), 20%, rgba(27, 140, 126, 255));
  z-index: -1;
  font-family: Interstate,Lucida Grande,Arial,sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: white;
  display:flex;
  text-align: center;
}
img {
  border: 3px solid black;
}
h1{
  font-family: Interstate,Lucida Grande,Arial,sans-serif;

}
